:root {
  --lh-black: #222;
  --lh-black-tl: rgba(34, 34, 34, 0.85);
  --lh-salmon: #e34a5e;
  --lh-blue: #244d60;
  --lh-teal: #49c3cc;
  --lh-teal-dark: #3E9DA4;
  --lh-teal-darker: #2F777D;
  --lh-lightgray: #e2e2e0;
  --lh-salmon-hover: #AE2F40;
  --lh-dark-gray: #82827e;
}