$responsive-desktop: 960px;
$responsive-tablet: 767px;
$responsive-mobile: 470px;

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Open+Sans&display=swap');

@import 'colors';
@import 'base';
@import 'index';
@import 'portfolio';