$responsive-desktop: 960px;
$responsive-tablet: 767px;
$responsive-mobile: 470px;

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Open+Sans&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Baloo Bhai 2', sans-serif;

@import 'colors';
body {
    background-color: var(--lh-lightgray);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Baloo Bhai 2', sans-serif;
}
h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

header {
    background: var(--lh-black-tl);
    backdrop-filter: blur(4px);
    height: 40px;
    overflow: hidden;
}
.header-container {
    transform: translateY(-40px);
    transition: transform 0.25s ease;
    z-index: 100;
}
.header-container--visible {
    transform: translateY(0);
    transition: transform 0.25s ease;
}

.header-content {
    position: relative;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color: var(--lh-lightgray);
        }
    }
}
.utility-nav {
    position: absolute; 
    right: 0;
    top: 8px;
    display: flex;
    
    .lh-icon {
        width: 26px;
        height: 26px;
    }
    a:not(:last-child) {
        margin-right: 0.75rem;
    }
    @media only screen and (max-width: $responsive-desktop) {
        right: 2rem;
    }
}
.lh-icon {
    fill: currentColor;
}
.logo-lg {
    width: 400px;
    height: auto;
    @media only screen and (max-width: $responsive-mobile) {
        width: 100%;
    }
}

.header-logo {
    height: 40px;
    width: auto;
}

.comics-container {
     background-color: var(--lh-teal);
     color: #fff;
}

.cartoons-container {
    background-color: var(--lh-blue);
    color: #fff;
}

.code-container {
    background-color: var(--lh-black);
    color: #fff;
}

.comics, .cartoons, .code, .overview, .footer, .header, .secondary {
    &-content {
        margin: 0 auto;
        max-width: 960px;

        h2 {
            padding: 0.5rem 0;
        }
        @media only screen and (max-width: $responsive-desktop) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
}
.overview-content {
    padding-top: 80px;
    height: calc(100vh - 40px);
    min-height: 500px;
    max-height: 700px;
    display: flex;
    justify-content: space-between;
    position: relative;
    .utility-nav {
        a {
            color: var(--lh-blue);
            &:hover {
                color: var(--lh-black);
            }
        }
    }
    @media only screen and (max-width: $responsive-desktop) {
        height: auto;
    }
    @media only screen and (max-width: $responsive-tablet) {
        display: block;
        padding-bottom: 2rem;
        max-height: none;
    }
}
.overview-1 {
    width: 660px;
    @media only screen and (max-width: $responsive-tablet) {
        width: 100%;
    }
}
.overview-2 {
    width: 300px;
    text-align: right;
    @media only screen and (max-width: $responsive-tablet) {
        display: none;
    }
}

.overview-copy {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.overview-buttons {
    button {
        border: 0;
        border-radius: 4px; 
        background-color: var(--lh-salmon);
        color: #fff;
        font-family: 'Baloo Bhai 2', sans-serif;
        font-weight: 600;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        &:hover {
            background-color: var(--lh-salmon-hover);
            cursor: pointer;
        }
        &:focus {
            outline: none;
            background-color: var(--lh-salmon-hover);
        }
        & + button {
            margin-right: 0;
        }
    }
    .utility-nav {
        a {
            color: var(--va-black);
        }
    }
    @media only screen and (max-width: $responsive-mobile) {
        button {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        
    }
}

.overview-brad {
    height: 100%;
    max-height: 600px;
    width: auto;
}

.comics-content {
    display: flex;
    @media only screen and (max-width: $responsive-tablet) {
        display: block;
    }
}
.comics-copy {
    padding-right: 2rem;
}
.comics-links {
    li {
        display: block;
        width: 400px;
        height: 80px;
        background-color: var(--lh-teal-dark);
        @media only screen and (max-width: $responsive-tablet) {
            width: 100%;
        }
    }
    .comic {
        &-ntw,
        &-cl,
        &-s4,
        &-atgg {
            display: block;
            width: 400px;
            height: 80px;
            background-size: cover;
            background-color: var(--lh-teal-darker);
            background-blend-mode: luminosity;
            color: white;
            text-decoration: none;
            font-weight: 700;
            position: relative; 

            &:hover {
                background-blend-mode: normal;
            }

            span {
                position: absolute;
                filter: drop-shadow(0 1px 1px var(--lh-black));
            }
            @media only screen and (max-width: $responsive-tablet) {
                width: 100%;
            }
        }
    }
    .comic-ntw {
        background-image: url(https://bxlfwq.dm.files.1drv.com/y4mugdjKXe5DNHKvykKAS3TLIA7RwUeNEs17MWXYZyEGSRePO8QTKckLaUZp60WFurH_Vmob85Vs80luywhzGtW4PY7q1-bkSUgt3nN1cNWUV-wQef1MzPSw_Jc1gsPmzyq-eLoONQ8oSaor-laPjD6UFQIalglX6vdgAHL8ypAppuMpm_pKN4SRzknI0vc-Y2M);
        span {
            right: 10px;
            font-size: 24px;
            top: 8px;
            width: 80px;
            line-height: 0.85;
            text-align: right;
        }
    }
    .comic-cl {
        background-image: url(https://osl2fa.dm.files.1drv.com/y4m_Qj3qNBQ2CRWgjWHlI9LSL4iqMbli-WIOE86t0CRS7uG5HsITO6tOm-4Qfphi9c_zo80sRoMu8DSoiFAvEjFVkDRI7hMx6ehIKdKbceZZtiXR0MeARp67j9P9-SsBKiSycc7YoUBInGBLcTO64HxwyqnyugDt5N1XGAXMzjwoJzMD3zAd4lusqBf-zP3tlrA);
        span {
            right: 10px;
            font-size: 24px;
            top: 16px;
            width: 100px;
            line-height: 0.85;
            text-align: right;
        }
    }
    .comic-s4 {
        background-image: url(https://1j0dhw.dm.files.1drv.com/y4mm4TL8ILlPOy4tA3YKeMXXw4KxEZDCJZz0qFEQB3dknfk4ggDbmj2myi-SEN6n1sWnSf83OAWVuACCHDDtFbcIFU2PMAITJef88iOuGFB16Momt6MfAZMJNItwLMFcjBTbeAst-jBGjJf1EONzCQFfFKnGipSm6rO1DrJz1cVXbexnpdnoKINvsE867BEdRbt);
        span {
            left: 10px;
            font-size: 24px;
            top: 16px;
            width: 100px;
            line-height: 0.85;
        }
    }
    .comic-atgg {
        background-image: url(https://qpjgcq.dm.files.1drv.com/y4mqF7qL3jPO6xG04PesPmLzrGxTvwSe2Rq1-iP9hnzSvrh2o2O1NfQ9ebXRV4RvaiZTmCuj_wW0Z1QuYkQjij09g9AYoILWDawJOvmPFuO8bIHw5HHSb7huzsdEB7EZ_3Repsiz5rIQY7BLl4K9kr81Tpt1_xKIlmIc3Nl84ZaeJyNjciE3uaVX6J1ajPGNLBq);
        span {
            left: 10px;
            font-size: 24px;
            top: 16px;
            width: 200px;
            line-height: 0.85;
        }
    }
}
.code-1 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    min-height: 300px;
    @media only screen and (max-width: $responsive-tablet) {
        display: block;
        min-height: auto;
        padding-bottom: 2rem;
    }
}
.code-brad {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 412px;
    height: 372px;
    img {
        width: 100%;
        height: auto;
    }
    @media only screen and (max-width: $responsive-tablet) {
        display: none;
    }
}
.code-actions {
    list-style: none;
    padding: 0;
    margin: 2rem 2rem 0 0;
    li {
        margin-bottom: 1rem;
    }
    @media only screen and (max-width: $responsive-tablet) {
        text-align: center;
    }
    @media only screen and (max-width: $responsive-mobile) {
        margin-right: 0;
    }
}
.code-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--lh-salmon);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-family:'Baloo Bhai 2', sans-serif;
    text-align: center;
    width: 280px;
    font-size: 1.5rem;
    &:hover {
        background-color: var(--lh-salmon-hover);
    }
    .lh-icon {
        width: 1em;
        height: 1em;
        margin-right: 4px;
    }
    @media only screen and (max-width: $responsive-mobile) {
        width: 100%;
    }
}

.secondary-content {
    padding-top: 80px;
    justify-content: space-between;
    position: relative;
    .utility-nav {
        a {
            color: var(--lh-black);
        }
    }
}

.secondary-page-logo {
    margin-bottom: 80px;
}

.page-anchor {
    position: relative;
    top: -40px;
}

footer {
    background-color: var(--lh-dark-gray);
}
.footer-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}
.footer-1 {
    display: flex;
    @media only screen and (max-width: $responsive-tablet) {
        display: block;
    }
}
.footer-copy {
    width: 700px;
    padding-right: 3rem;
    @media only screen and (max-width: $responsive-desktop) {
        width: 500px;
    }
    @media only screen and (max-width: $responsive-tablet) {
        width: 100%;
        padding-right: 0;
    }
}
.footer-image {
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(https://amuala.dm.files.1drv.com/y4mEqx5uDs-iGIHxOYImJIje2Uv90fOcgQnxfXTWzR_Pk5-xs0oizh2m_otFG46KUm93cEon0eYXkTqhEVJaEUNzHAfhjZNcA4RXERBchlrsEpI0vMyV2pob7m4FJ_hd4iE7SOjjtgNiI2HfF_8JmysfkgWHfYSevXoryPDhbbAjQy7JVaImIBclHbylmb7zxET);
    background-size: cover;
    background-color: #ccc;
    background-blend-mode: luminosity;
    border: 1px solid var(--lh-black-tl);
    flex-shrink: 0;
    @media only screen and (max-width: $responsive-tablet) {
        display: none;
    }
}
.copyright {
    text-align: center;
    font-size: 0.75rem;
    a {
        color: var(--lh-lightgray);
        &:hover {
            color: var(--lh-black);
        }
    }
}